<div class="bg-img">
  <div class="container">
    <div class="row center-block">
      <div class="col-12 text-center mt-5">
        <img
          src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
          alt=""
          srcset=""
          class="logo"
        />
        <h1 class="brand-name mb-5">Welcome to RMD</h1>
        <div>
          <button type="button" class="btn btn-outline-primary m-2">
            Access as a Chief
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-outline-primary m-2">
            Access as a Accountant
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
